﻿.Dialog {
    overflow: scroll;
    height: 200px;
}

.Form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 16px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    /*width: 100%;*/
}

    .Form-control[disabled], fieldset[disabled] .form-control {
        cursor: not-allowed;
    }

    .Form-control:focus {
        border-color: #66afe9;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
        outline: 0 none;
    }

    .Form-control::-moz-placeholder {
        color: #999;
        opacity: 1;
    }

    .Form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
        background-color: #eee;
        opacity: 1;
    }

.grid-margin {
    margin-right: 20px !important;
    margin-left: 20px !important;
}

.td {
    border: 1px solid #e2e2e2 !important;
}

td {
    cursor: pointer;
    border: 1px solid #e2e2e2 !important;
}

.scroll--200 {
    height: 250px !important;
    overflow: scroll !important;
}

.hide {
    display: none !important;
}

.blue {
    color: #478fca !important;
}

.red {
    color: #dd5a43 !important;
}

.right {
    text-align: right !important;
}

.left {
    text-align: left !important;
}

.center {
    text-align: center !important;
}

.select {
    font-size: 16px !important;
}

.black {
    color: #272626 !important;
}

.header {
    /*border-bottom: dotted 1px #0790f2 !important;*/
    background-color: #ffffff !important;
    color: #0790f2 !important;
    font-size: x-large !important;
}

.page-header {
    /*border-bottom: 1px dotted #e2e2e2 !important;*/
    margin: 0 0 12px !important;
    padding-bottom: 16px !important;
    padding-top: 7px !important;
}

.input {
    font-size: 16px !important;
}

.height-25px {
    height: 100px !important;
}

.width-100 {
    width: 100% !important;
}

.width-110 {
    width: 110% !important;
}

.width-120 {
    width: 120% !important;
}

.width-130 {
    width: 130% !important;
}

.width-140 {
    width: 140% !important;
}

.width-150 {
    width: 150% !important;
}

.width-160 {
    width: 160% !important;
}

.width-170 {
    width: 170% !important;
}

.width-180 {
    width: 180% !important;
}

.width-190 {
    width: 190% !important;
}

.width-200 {
    width: 200% !important;
}

._login-border {
    border: solid 2px black;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-top-50 {
    margin-top: 50px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.margin-top-4 {
    margin-top: 4px !important;
}

.margin-bottom-4 {
    margin-bottom: 4px !important;
}

.margin-right-10 {
    margin-right: 10px !important;
}

.margin-right-4 {
    margin-right: 4px !important;
}

.margin-left-1 {
    margin-left: 1px !important;
}

.margin-left-10 {
    margin-left: 10px !important;
}

.margin-left-5 {
    margin-left: 5px !important;
}

.margin-left-20 {
    margin-left: 20px !important;
}

.margin-left-25 {
    margin-left: 25px !important;
}

.margin-right-30 {
    margin-right: 30px !important;
}

.margin-right-20 {
    margin-right: 20px !important;
}

.margin-left-15 {
    margin-left: 15px !important;
}

.padding-right-10 {
    padding-right: 10px !important;
}

.padding-left-10 {
    padding-left: 10px !important;
}

.padding-top-10 {
    padding-top: 10px !important;
}

.padding-bottom-10 {
    padding-bottom: 10px !important;
}

.bigger-100 {
    font-size: 100% !important;
}

.bigger-110 {
    font-size: 110% !important;
}

.bigger-120 {
    font-size: 120% !important;
}

.bigger-130 {
    font-size: 130% !important;
}

.bigger-140 {
    font-size: 140% !important;
}

.bigger-150 {
    font-size: 150% !important;
}

.bigger-160 {
    font-size: 160% !important;
}

.bigger-170 {
    font-size: 170% !important;
}

.bigger-180 {
    font-size: 180% !important;
}

.bigger-190 {
    font-size: 190% !important;
}

.bigger-200 {
    font-size: 200% !important;
}

.bigger-210 {
    font-size: 210% !important;
}

.bigger-220 {
    font-size: 220% !important;
}

.bigger-230 {
    font-size: 230% !important;
}

.bigger-240 {
    font-size: 240% !important;
}

.bigger-250 {
    font-size: 250% !important;
}

.bigger-260 {
    font-size: 260% !important;
}

.bigger-270 {
    font-size: 270% !important;
}

.bigger-280 {
    font-size: 280% !important;
}

.bigger-290 {
    font-size: 290% !important;
}

.bigger-300 {
    font-size: 300% !important;
}

.space {
    margin: 12px 0;
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
}

[class*="vspace-"] {
    display: none;
}

.space-32 {
    margin: 32px 0 31px;
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
}

[class*="vspace-32"] {
    margin: 32px 0 31px;
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
}

.space-30 {
    margin: 30px 0 29px;
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
}

[class*="vspace-30"] {
    margin: 30px 0 29px;
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
}

.space-28 {
    margin: 28px 0 27px;
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
}

[class*="vspace-28"] {
    margin: 28px 0 27px;
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
}

.space-26 {
    margin: 26px 0 25px;
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
}

[class*="vspace-26"] {
    margin: 26px 0 25px;
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
}

.space-24 {
    margin: 24px 0 23px;
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
}

[class*="vspace-24"] {
    margin: 24px 0 23px;
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
}

.space-22 {
    margin: 22px 0 21px;
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
}

[class*="vspace-22"] {
    margin: 22px 0 21px;
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
}

.space-20 {
    margin: 20px 0 19px;
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
}

[class*="vspace-20"] {
    margin: 20px 0 19px;
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
}

.space-18 {
    margin: 18px 0 17px;
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
}

[class*="vspace-18"] {
    margin: 18px 0 17px;
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
}

.space-16 {
    margin: 16px 0 15px;
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
}

[class*="vspace-16"] {
    margin: 16px 0 15px;
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
}

.space-14 {
    margin: 14px 0 13px;
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
}

[class*="vspace-14"] {
    margin: 14px 0 13px;
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
}

.space-12 {
    margin: 12px 0 11px;
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
}

[class*="vspace-12"] {
    margin: 12px 0 11px;
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
}

.space-10 {
    margin: 10px 0 9px;
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
}

[class*="vspace-10"] {
    margin: 10px 0 9px;
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
}

.space-8 {
    margin: 8px 0 7px;
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
}

[class*="vspace-8"] {
    margin: 8px 0 7px;
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
}

.space-6 {
    margin: 6px 0 5px;
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
}

[class*="vspace-6"] {
    margin: 6px 0 5px;
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
}

.space-4 {
    margin: 4px 0 3px;
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
}

[class*="vspace-4"] {
    margin: 4px 0 3px;
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
}

.space-2 {
    margin: 2px 0 1px;
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
}

[class*="vspace-2"] {
    margin: 2px 0 1px;
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
}

.space-0, [class*="vspace-0"] {
    margin: 0;
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
}

@media only screen and (max-width: 479px) {
    [class*="vspace-"][class*="-xs"] {
        display: block;
    }
}

@media only screen and (max-width: 767px) {
    [class*="vspace-"][class*="-sm"] {
        display: block;
    }
}

@media only screen and (max-width: 991px) {
    [class*="vspace-"][class*="-md"] {
        display: block;
    }
}

@media only screen and (max-width: 1199px) {
    [class*="vspace-"][class*="-lg"] {
        display: block;
    }
}

.editable-click {
    border-bottom: 1px dashed #bbb;
    cursor: pointer;
    font-weight: normal;
}

    .editable-click:hover {
        border-color: #0088cc;
        color: #0088cc;
    }

.tbl-footer-bg {
    background-color: #e5e5e5 !important;
}

.cursor {
    cursor: pointer !important;
}
